@charset "UTF-8";
/*-----RESET-----*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------*/
@font-face {
  font-family: "Noto Sans Bold";
  src: url("../fonts/NotoSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Semibold";
  src: url("../fonts/NotoSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Medium";
  src: url("../fonts/NotoSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Regular";
  src: url("../fonts/NotoSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Noto Sans Light";
  src: url("../fonts/NotoSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}
body {
  background-color: #f8f8f8;
}

.main {
  padding: 118px 0 134px 0;
  color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .main {
    padding: 80px 0 100px 0;
  }
}

.main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 688px;
  background: url("../img/main.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

.header {
  padding: 19px 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-family: "Noto Sans Medium", sans-serif;
}

.menu__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  font-weight: 500;
}
.menu__links .nav__links {
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .menu__links .nav__links {
    display: none;
  }
}
.menu__links .nav__link {
  color: #f8f8f8;
}
.menu__links .nav__link:hover {
  color: #DF4E3C;
}
.menu__links .social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .menu__links .social__links {
    display: none;
  }
}

.mobile__menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .mobile__menu {
    display: block;
  }
}
.mobile__menu .mobile__menu-item {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}
.mobile__menu .mobile__menu-item:hover {
  text-decoration: underline;
}
.mobile__menu .hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 3px;
  border: black solid 1px;
  background: #BDBDBD;
  opacity: 0.3;
  cursor: pointer;
}
.mobile__menu .closeIcon {
  display: none;
}
.mobile__menu .menu {
  position: fixed;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__menu .showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media only screen and (max-width: 768px) {
  .main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main__info-title {
  font-family: "Noto Sans Bold", sans-serif;
  font-size: 50px;
  padding: 0 0 32px 0;
}
@media only screen and (max-width: 768px) {
  .main__info-title {
    font-size: 46px;
  }
}

.main__info-text {
  max-width: 295px;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 15px;
  line-height: 20.43px;
}
@media only screen and (max-width: 768px) {
  .main__info-text {
    max-width: 100%;
  }
}

.main__btn {
  width: 296px;
  height: 56px;
  color: #f8f8f8;
  font-family: "Noto Sans Medium", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  border: 2px solid #f8f8f8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  margin-top: 72px;
}
.main__btn:hover {
  color: #000000;
  background-color: #f8f8f8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.offers {
  font-family: "Noto Sans Regular", sans-serif;
  padding-bottom: 120px;
}

.offers__title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #AEAEAE;
  line-height: 75px;
  padding: 98px 15px 80px;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .offers__title {
    padding: 20px;
    font-size: 46px;
    line-height: 55px;
  }
}

.offers__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  font-size: 15px;
}

.offers__filters {
  padding: 20px 0;
}
@media only screen and (max-width: 768px) {
  .offers__filters {
    padding: 0 20px;
  }
}

.form__select {
  height: 48px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 170px;
          flex: 1 0 170px;
  padding: 0 16px;
  border: 1px solid #BDBDBD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.car__quantity-btn {
  max-width: 290px;
  width: 100%;
  height: 48px;
  border-radius: 15px;
  color: #f8f8f8;
  background-color: #DF4E3C;
}
.car__quantity-btn:hover {
  background-color: #f8f8f8;
  color: #DF4E3C;
  border: 2px solid #DF4E3C;
}
@media only screen and (max-width: 768px) {
  .car__quantity-btn {
    margin: 0 0 20px;
  }
}

.offers__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .offers__settings {
    padding: 0 20px;
  }
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.form__check .form__check-input {
  color: #8D8D8D;
}
.form__check .form__check-input.is-valid,
.form__check .was-validated .form__check-input:valid {
  color: #507A36;
}

.offers__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 12px;
  background-color: #f8f8f8;
}

.offers__sort-btn {
  color: #000000;
  border: none;
  background-color: transparent;
}
.offers__sort-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background: url(sort.6e1d0bab.svg) 50%/contain no-repeat;
}

.offers__sort-type {
  color: #8D8D8D;
  border: none;
  background-color: transparent;
  padding-left: 5px;
}

.offers__products {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 295px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 0;
}

.sort__arrows {
  position: relative;
}
.sort__arrows span {
  font-size: 9px;
  color: #8D8D8D;
}
.sort__arrows .arrow__up {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  top: -5px;
  left: 0px;
  color: #DF4E3C;
}
.sort__arrows .arrow__up::before {
  content: "➜";
}
.sort__arrows .arrow__down {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: -1px;
  left: 5px;
}
.sort__arrows .arrow__down::before {
  content: "➜";
}

.hidden {
  display: none;
}

.card__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 295px;
          flex: 0 0 295px;
  border: none;
}
.card__item .card__item-img {
  height: 200px;
}
.card__item .car__sold {
  display: none;
}

.card__item-block {
  position: relative;
}
.card__item-block.card__wrap-new:after {
  content: "New";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 66.5px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #000000;
  color: #ffffff;
}
.card__item-block.card__wrap-sold:before {
  content: "sold";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.card__item-info {
  padding: 20px;
}
.card__item-info .card__item-title {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__item-info .card__item-year {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #8D8D8D;
  padding-right: 8px;
}
.card__item-info .card__item-details {
  font-family: "Noto Sans Light", sans-serif;
  color: #8D8D8D;
  padding: 5px 0 10px;
}
.card__item-info .card__item-details .card__item-option:not(:last-child)::after {
  content: "|";
  display: inline-block;
  margin: 0 3px 0 5px;
}
.card__item-info .card__item-price {
  font-family: "Noto Sans Medium", sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

.subscribe {
  background-color: #000000;
  color: #f8f8f8;
  padding: 40px 0 45px;
}

.subscribe__descr .subscribe__title {
  font-family: "Noto Sans Semibold", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 34px;
}
.subscribe__descr .subscribe__text {
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.subscribe__descr {
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .subscribe__descr {
    padding: 20px;
  }
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-family: "Noto Sans Regular", sans-serif;
  font-size: 15px;
}
@media only screen and (max-width: 768px) {
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe__form .subscribe__mail {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 505px;
          flex: 0 1 505px;
  padding: 14px 22px 18px 16px;
  background-color: transparent;
  color: #f8f8f8;
  border: 1px solid #BDBDBD;
  border-radius: 15px;
  line-height: 20px;
}
.subscribe__form .subscribe__mail:focus {
  border-color: #8D8D8D;
}
.subscribe__form .subscribe__mail:valid {
  border-color: #507A36;
}
.subscribe__form .subscribe__mail--invalid {
  border: 1px solid red;
}
@media only screen and (max-width: 768px) {
  .subscribe__form .subscribe__mail {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
.subscribe__form .subscribe__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 190px;
          flex: 0 1 190px;
  padding: 14px 0 16px;
  background-color: #f8f8f8;
  border-radius: 15px;
  border: 2px solid #f8f8f8;
  outline: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  line-height: 20px;
}
.subscribe__form .subscribe__button:hover {
  background-color: transparent;
  color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .subscribe__form .subscribe__button {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    padding: 14px 20px 16px;
  }
}

.faq {
  padding: 120px 0 150px;
}
@media only screen and (max-width: 768px) {
  .faq {
    padding: 40px 20px;
  }
}
.faq .faq__title {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  color: #AEAEAE;
}
@media only screen and (max-width: 768px) {
  .faq .faq__title {
    font-size: 46px;
    line-height: 55px;
  }
}
.faq .accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #C4C4C4;
}
.faq .accordion .accordion-item:last-child {
  border-bottom: none;
  border-bottom: 1px solid #C4C4C4;
}
.faq .accordion-button {
  padding: 24px;
  background-color: transparent;
}
.faq .accordion-button:focus {
  background-color: #fff;
}
.faq .accordion-button:not(.collapsed) {
  color: #DF4E3C;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.faq .card-body {
  background-color: #ffffff;
}
.faq .accordion-button::after {
  content: "";
  width: 11px;
  height: 11px;
  background: url("../img/plus-icon.png") center/cover no-repeat;
}
.faq .accordion-button:not(.collapsed)::after {
  content: "";
  width: 11px;
  height: 2px;
  background: url("../img/minus-icon.png") center/cover no-repeat;
}

footer {
  background-color: #000000;
  padding: 37px 0 36px;
  font-family: "Noto Sans Semibold", sans-serif;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footer ul {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  footer .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer .social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  footer .social__links {
    padding: 0;
  }
}